{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
  {% if error %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Warning!</strong> {{ error }}
    </div>
  {% endif %}
  
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal" method="POST" enctype="multipart/form-data">
        {%csrf_token %}
        
        <div class="form-group">
          <label class="col-sm-2 control-label">JOB TITLE</label>
          <div class="col-sm-10">
            <textarea rows="3" class="form-control" name="title">{{ job.title }}</textarea>
          </div>
        </div>
        
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">CATEGORY</label>
          <div class="col-sm-10">
            <select name="category" class="form-control" value="{{ job.category }}">
              <option {% if job.category == "GD" %} selected {% endif %} value="GD">Graphics & Design</option>
              <option {% if job.category == "DM" %} selected {% endif %} value="DM">Digital Marketing</option>
              <option {% if job.category == "VA" %} selected {% endif %} value="VA">Video & Animation</option>
              <option {% if job.category == "MA" %} selected {% endif %} value="MA">Music & Audio</option>
              <option {% if job.category == "PT" %} selected {% endif %} value="PT">Programming & Tech</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">DESCRIPTION</label>
          <div class="col-sm-10">
            <textarea rows="5" class="form-control" name="description">{{ job.description }}</textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">PRICE (RP)</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" value="{{ job.price }}" name="price">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">PHOTO</label>
          <div class="col-sm-10">
            <small>Currently: {{ job.photo }}</small>
            <input type="file" class="form-control" name="photo">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">STATUS</label>
          <div class="col-sm-10">
            <select name="status" class="form-control">
              <option value="1" {% if job.status %} selected {% endif %} >Active</option>
              <option value="" {% if not job.status %} selected {% endif %} >Disabled</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Update Job</button>
          </div>
        </div>
        
      </form>
    </div>
  </div>
  
{% endblock %}